.listToggle {
    margin-top: 50px;
}

/* radioは非表示 */
.listToggle input {
    display: none;
}

/* ボタン */
.listToggle__buttons {
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
    gap: 50px;
    width: auto;
}

.listToggle__buttons label {
    padding: 10px 0;
    cursor: pointer;
}

.listToggle__line {
    border-bottom: 2px solid #6f6f6f;
}

.listToggle__buttons label a {
    color: #5f5f5f;
    text-decoration: none;
    display: block;
}

/* アクティブ */
#tab-recommend:checked ~ .listToggle__buttons label[for="tab-recommend"] a,
#tab-mylist:checked ~ .listToggle__buttons label[for="tab-mylist"] a {
    color: #ff0000;
}

/* 一覧（初期は非表示） */
.listToggle__contents .list {
    display: none;
}

/* 表示切り替え */
#tab-recommend:checked ~ .listToggle__contents .recommend {
    display: block;
}

#tab-mylist:checked ~ .listToggle__contents .mylist {
    display: block;
}

/* グリッド */
.list-content {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
}

.item_img img {
  width: 100%;
}