.item-content {
    display: flex;
}

.item_img img {
    width: 50%;
}

.item_details {
    width: 50%;
    text-align: left;
}

.item_details h1,
.item_details h2,
.item_details h3,
.item_details p {
    margin: 0;
}

.item_details_price {
    margin-top: 20px !important;
    font-size: 18px;
}

.item_details_price span {
    font-size: 14px;
}

.reaction_icons {
    display: flex;
    gap: 30px;
    margin: 20px 0 20px 20px;
}

.icon {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.icon button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.icon img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    display: block;
}

.item_details_detail {
    margin-top: 5px !important;
    white-space: pre-wrap;
}

.item_details_table {
    border: none;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.table_header {
    width: 30%;
    text-align: left;
}

.table_text {
    padding-left: 30px;
}

.category {
    padding: 5px 20px;
    border-radius: 30px;
    background: #d9d9d9;
    text-align: center;
    display: inline-block;
    font-size: 14px;
}

textarea {
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    height: 200px;
    border: 1px solid #5f5f5f;
    border-radius: 3px;
    appearance: none;
}

.cGray {
    color: #5f5f5f;
}

.item_details_comment_user {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-preview {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ccc;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item_details_comment_user img {
    width: 100%;
}

.item_details_comment_user p {
    font-size: 18px;
    font-weight: bold;
}

.item_details_comment {
    margin-top: 10px !important;
    padding: 10px;
    white-space: pre-wrap;
    background-color: #e5e5e5;
}
