.icon-upload {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-preview {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile__inner {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile__left {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile__right {
    flex: 1;
}


.listToggle {
    margin-top: 50px;
}

/* radioは非表示 */
.listToggle input {
    display: none;
}

/* ボタン */
.listToggle__buttons {
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
    gap: 50px;
    width: auto;
}

.listToggle__buttons label {
    padding: 10px 0;
    cursor: pointer;
}

.listToggle__line {
    border-bottom: 2px solid #6f6f6f;
}

.listToggle__buttons label a {
    color: #5f5f5f;
    text-decoration: none;
    display: block;
}

/* アクティブ */
#tab-sell:checked ~ .listToggle__buttons label[for="tab-sell"] a,
#tab-buy:checked ~ .listToggle__buttons label[for="tab-buy"] a {
    color: #ff0000;
}

/* 一覧（初期は非表示） */
.listToggle__contents .list {
    display: none;
}

/* 表示切り替え */
#tab-sell:checked ~ .listToggle__contents .sell {
    display: block;
}

#tab-buy:checked ~ .listToggle__contents .buy {
    display: block;
}

/* グリッド */
.list-content {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
}

.item_img img {
  width: 100%;
}