.sell-form {
    margin: 0 auto;
}

h2 {
    margin: 0;
}

h3 {
    margin: 20px 0 10px 0;
}

.input_title {
    color: #5f5f5f;
    margin-top: 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid #5f5f5f;
}

.image_upload {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed  #5f5f5f;
}

.input_area {
    margin-bottom: 50px;
}

.categries {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.category_checkbox {
    display: none;
}

.category {
    padding: 5px 20px;
    color: #ff5555;
    border: 1px solid #ff5555;
    border-radius: 30px;
    background: #fff;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.category_checkbox:checked + .category {
    background: #ff5555;
    color: #fff;
}

.condition {
    position: relative;
    width: 100%;
}

.condition::after {
    content: "▼";
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #5f5f5f;
    font-size: 12px;
}

.condition select {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.input_price {
    width: 100%;
    position: relative;
    display: inline-block;
}

.input_price .yen {
    position: absolute;
    left: 10px;
    top: 55%;
    transform: translateY(-50%);
    color: #000;
    pointer-events: none; /* クリック無効 */
}

.input_price input {
    padding: 10px 0px 10px 30px !important;
}

.input_area textarea {
    height: 180px;
}

input[type="text"],
input[type="number"],
textarea {
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    border: 1px solid #5f5f5f;
    border-radius: 3px;
    appearance: none;
}
